@use  'comp/container';
@use 'comp/help';
@use 'comp/buttons';

.sketch_content,
.home_content{
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

.icon{
  &__keys{
    width: 90px;
  }

  &__close{
    width: 20px;
    height: 20px;
    float: right;
  }
}